body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.phone-number {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }
  
  .glow {
    color: #fff;
    text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f;
    animation: glow 1.5s infinite alternate;
  }
  
  @keyframes glow {
    from {
        text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f;
    }
    to {
        text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f, 0 0 70px #00f;
    }
  }
